.botao-enviar-pesquisa{
    align-items: center;
    align-self: center;
    background-color: #0080FD;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    height: 4rem;
    justify-content: center;
    margin: 1rem 0rem;
    text-align: center;
    width: 40%;
}

.botao-enviar-pesquisa-enviada{
    align-items: center;
    align-self: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #3bd100;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    flex-wrap: nowrap;
    height: 4rem;
    justify-content: center;
    margin: 1rem 0rem;
    text-align: center;
    width: 40%;
}

.check-icon{
    background-color: transparent;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
    display: flex;
    align-self: flex-start;
}