.botao-enviar-pesquisa{
    align-items: center;
    align-self: center;
    background-color: #0080FD;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    height: 4rem;
    justify-content: center;
    margin: 1rem 0rem;
    text-align: center;
    width: 40%;
}

.botao-enviar-pesquisa-enviada{
    align-items: center;
    align-self: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #27BA49;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;
    height: 4rem;
    justify-content: center;
    margin: 1rem 0rem;
    text-align: center;
    width: 60%;
}

.load{
    animation: is-rotating 1s infinite;
    align-self: center;
    border: 6px solid #808080;
    border-radius: 50%;
    border-top-color:#0080FD;
    display: flex;
    height: 3rem;
    width: 3rem;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}
.check-icon{
    background-color: transparent;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
    display: flex;
    align-self: flex-start;
}

.notificacao-erro{
    color:#FF0000;
    font-family: var(--fonte-Textos);
    font-size: 1.5rem;
    font-weight: bold;
}