.container-principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.5rem 1rem 1.5rem;
    border-bottom: 4px solid #0054A6;
    padding-bottom: .3rem;
}

.container-cabecalho h1{
    color:#0054A6;
    font-size: 2rem;
    font-weight: bold;
}

.icone-resumo{
    width: 1.5em;
    height: 1.8em;
}

.container-infos{
    display:flex;
    align-self: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
    background-color: #ffffff;
    color: #0054A6; 
}

.container-info-topo{
    height: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.titulo-flag-resumo{
    display:flex;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    color:#808080;;
    font-family: sans-serif;
}
.flag-periodo{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 25%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #D9D9D970;
    color: #0054A6;
    font-size: 1rem;
    padding: 0px 5px;
    font-family: 'Roboto';
    align-items: center;
    gap: 5px;
}

.flag-periodo-vazia{
    display: flex;
    align-self: flex-end;
    width: 25%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #fff;
    color: #0054A6;
    font-size: 1rem;
    padding: 0px 5px;
}

.flag-categoria{
    background-color:#D9D9D970;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5px;
    font-size: 1rem;
    font-weight: 500;
}

.botao-exclui-flag{
    border: none;
    background-color: #D9D9D970;
    font-size: 1rem;
    text-align: center;
    margin: 2px 0px 2px 2px;
    color:#ff0000;
}

.botao-exclui-flag:hover{
    border: none;
    background-color: #D9D9D970;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 2px 0px 2px 2px;
    color:#ff0000;
}

.container-info-topo p{
    margin-bottom: 1rem;
}

.container-infos-Componentes{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.container-info-lojas{
    width:100%;
    height: 35%;
    text-align: start;
    
    
}

.titulo-loja-resumo{
    font-size: 1.2rem;
    font-weight: 700;
    color: #0054A6;

}

.container-info-produtos{
    width: 100%;
    height: 50%;
    text-align: start;
    margin-top: 2rem;
    
}

.botao-confirma{
    align-items: center;
    align-self: center;
    background-color: #0054A6;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    height: 4rem;
    justify-content: center;
    margin-bottom: 1.2rem;
    text-align: center;
    width: 40%;
}