    .container-titulo-pesquisa{
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .container-titulo-titulo-pesquisa{
        margin-left: 2rem;
        color: #0054A6;
        font-size: 1.5rem;
       
        font-family: var(--fonte-Titulos);
        
        
        
    }

    .container-input-titulo-pesquisa{
        margin-left: 4.5rem;
        font-weight: bold;
        height: 6%;
        width: 20rem;
        border: none;
        color: #0054A6;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: var(--fonte-Titulos);
        display: flex;
        align-self: end;
        border: 0.09375rem solid #808080;
        border-radius: 1rem;
        padding: 0.5rem;
    }