    .container-titulo-pesquisa{
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .container-titulo-titulo-pesquisa{
        background-color: #d9d9d970;
        margin-left: 0.5rem;
        display: flex;
        justify-content: space-between;
        color: #0054A6;
        font-size: 1rem;
        font-family: var(--fonte-Titulos);
        width: 55%;
    }

    .container-input-titulo-pesquisa{
        margin-left: 3.5rem;
        margin-top: 1em;
        font-weight: bold;
        height: 6%;
        width: 20rem;
        border: none;
        color: #0054A6;
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: bold;
        font-family: var(--fonte-Titulos);
        display: flex;
        align-self: end;
        border: 0.09375rem solid #808080;
        border-radius: 1rem;
        padding: .8rem;
    }