.CategoriasProdutos{
    border-bottom: 1px #808080 solid;
    align-items: center;
    width: 450px;
    height: 45px;
    display: flex;
    margin: 5px 10px 5px 20px;
    justify-content: space-evenly;
}

.categoriasText{
    margin-right: 10px;
    color: #808080;
    font-size: 16px;
    font-family: var(--fonte-Titulos);    
}

.setaCategorias{
    margin-top: 4px;
    border: none;
    outline: 0;
    color: #808080;
    font-family: var(--fonte-Textos);
}

/* PRODUTOS */

.produtos{
    align-items: center;
    height: 250px;
    overflow-y: auto;
    margin: 0 0.4rem;
    font-family: var(--fonte-Textos);
    
}

.corp{
    line-height: 17px;
    padding: 5px;
    font-size: 15px;
    margin: 10px 5px 10px 5px;
    align-items: center;
    display: flex;
    background-color: rgba(217, 217, 217, 0.2);
    justify-content: space-between;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
   
} 
.corp:hover{
    background-color:rgba(217, 217, 217, 0.500);
}

.checkBox{
    
    margin-right: 10px;
}

.produtos::-webkit-scrollbar {
    width: 4px; 
    
  }
  
.produtos::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
    
  }
  
.produtos::-webkit-scrollbar-thumb {
    background-color: #0053a6cb; /* Cor do "polegar" da barra de rolagem */
    border-radius: 5px;
  }
  
.produtos::-webkit-scrollbar-thumb:hover {
    background-color: var(--CorPrincipal) /* Cor do "polegar" da barra de rolagem ao passar o mouse */

  }