.LupaProdutos {
    align-items: center;
    display: flex;
    padding: 0;
    width: 328px;
    height: 45px;
    margin: 10px;
    border: 1.5px solid #808080;
    border-radius: 10px;
}

.LupaProdutosInput {
    font-family: var(--fonte-Textos);
    padding: 0;
    font-size: 14px;
    border: none;
    outline: 0;
}

.LupaIcon {
    color: #474747;
    margin-left: 10px;
    margin-right: 10px;
    height: 19px;
    width: 19px;
}