*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.Loja_toda {
    flex-direction: column;
    align-items: center;
    display: flex;
    
    width: 360px;
    
}

/* .App {
    position: absolute;
    left:50%
    top:50%
} */

.buscas {
    align-items: center;
    display: flex;
    padding: 0;
    width: 328px;
    height: 45px;
    margin: 10px;
    border: 1.5px solid #808080;
    border-radius: 10px;
}

.busca {
    font-family: var(--fonte-Textos);
    padding: 0;
    font-size: 14px;
    border: none;
    outline: 0;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.buscas {
    align-items: center;
    display: flex;
    padding: 0;
    width: 328px;
    height: 45px;
    margin: 10px;
    border: 1.5px solid #808080;
    border-radius: 10px;
}

.lista-lojas__item {
    padding: 5px;
    font-size: 15px;
    margin: 10px 5px 10px 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 328px;
    height: 50px;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.2);
    font-family: var(--fonte-Textos);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.lista-lojas__checkbox {
    margin: 10px;
}
.lista-lojas{
    height: 260px;
}



.TextLoja {
    margin: 0;
    color: #0054A6;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.caixa {
    width: 384;
    height: 320px;
    overflow: auto;
    border-radius: 7px;
    /* position: absolute; */
    /* width: 384px;
    height: 250px;
    left: 79px;
    top: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: #808080; */
}
.lupa {
    color: #474747;
    margin-left: 10px;
    margin-right: 10px;
    height: 19px;
    width: 19px;
}

.container-lojas{
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
    border-top: #0054A6 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
    height: 390px;
    width:360px;
}

.caixa::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem */
    
  }
  
.caixa::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
    
  }
  
.caixa::-webkit-scrollbar-thumb {
    background-color: #0053a6cb;; /* Cor do "polegar" da barra de rolagem */
    border-radius: 5px;
  }
  
.caixa::-webkit-scrollbar-thumb:hover {
    background-color: #0054A6; /* Cor do "polegar" da barra de rolagem ao passar o mouse */

  }