* {
  margin: 0;
  padding: 0;
  
}

.pageView{
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.cabecalho{
  background-color:#0054A6;
  height: 10vh;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

.cabecalho-titulo{
  margin-left: 5rem;
}

.container{
  background-color: #d9d9d9;
  width: auto;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.container-montagem{
  width: 70%;
  background-color: #fff;
  margin: 1rem 0rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selecao-periodo{
  height: 30vh;
  display: flex;
  align-items: center;
}

.cards-montagem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
  width: 100%;
  align-items: center;

}

.container-resumo{
  width: 30%;
  background-color: #fff;
  margin: 1rem 0.5rem;
  text-align: center;
}

