* {
  margin: 0;
  padding: 0;
}
.pageView{
  background-color: #fff;
  width: 100%;
  height: 100vh;
  
}

.cabecalho{
  background-color:#0054A6;
  height: 15%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

.cabecalho-titulo{
  margin-left: 5rem;
}



