* {
  margin: 0;
  padding: 0;
  
}

.imgLogo {
  width: 2.5em;
  background: transparent;
  margin-left: 3.125em;
  margin-top: 0.1875em;
}

:root {
  --fonte-Titulos: 'Roboto', sans-serif;
  --fonte-Textos: 'Open Sans', sans-serif;
  --CorPrincipal: #0054A6;
  --CorSecundaria: #FFFFFF;
  --CorDeFundo: #D9D9D9;
  --CorTextos: #808080;
  --CorSombreada: rgba(0, 0, 0, 0.4);
}

.pageView {
  background-color: var(--CorPrincipal);
  width: 100%;
  height: 100vh;
}

.cabecalho {
  background-color: var(--CorPrincipal);
  height: 7%;
  display: flex;
  align-items: center;
  color: var(--CorSecundaria);
  font-size: 2em;
}

.cabecalho-titulo {
  margin-left: 5em;
}

.container {
  background-color: var(--CorDeFundo);
  width: auto;
  height: 92%;
  display: flex;
  justify-content: space-around;
}

.container-montagem {
  width: 70%;
  background-color: var(--CorSecundaria);
  margin: .3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selecao-periodo {
  width: 100%;
  background-color: var(--CorSecundaria);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5em;
}

.modalLoja{
  width: 100%;
  height: 100vh;
  background-color: #0000004b;
  display: flex;
  align-items:center ;
  justify-content: center;  

  filter: 29px blur();
}

.cards-montagem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-left: 2em;
  align-items: stretch;
}

.container-resumo {
  width: 30%;
  background-color: #fff;

  text-align: center;
  margin: .3em;
}